body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #2f3336;
}

Keyboard {
  bottom: 0px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
